.similar-job-container {
  background-color: #7e858e;
  padding: 15px;
  color: #ffffff;
  margin-right: 15px;
  width: 30%;
}

.company-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.title-job-heading {
  color: #ffffff;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 15px;
  font-size: 100%;
}

.similar-job-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.rating-container {
  display: flex;
  align-items: center;
}
.star-icon {
  color: #fbbf24;
  height: 10px;
  width: 10px;
  margin-right: 4px;
}
.loc-type-container {
  display: flex;
  justify-content: space-around;
}
.icon-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.icons {
  margin-right: 5px;
  color: #cbd5e1;
}
@media screen and (max-width: 767px) {
  .similar-job-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .title-job-heading {
    font-size: 20px;
  }
}
